.icons-container {
  height: 80vh;
  overflow: hidden;
  position: relative;
  display: grid;
  place-items: center;
}

.icons-container .icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1vw;
}
.icons-container .icons img {
  object-fit: contain;
  display: block;
  pointer-events: none;
  will-change: transform;
}

@media (max-width: 768px) {
  .icons-container .header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
  }
  .icons-container .header div:nth-child(2) {
    display: none;
  }
  .icons-container .icons {
    gap: 2vw;
  }
  .icons-container .icons img {
    width: 18vw;
    height: 18vw;
  }
}
